<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Online Medicine Shop">
    <meta name="author" content="Osudhwala.com">
    <title>Osudhwala- Assuring Acess to Medicine</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="../../Content/font-awesome.min.css" rel="stylesheet" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
       <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
       <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
       <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    -->
    <!-- Theme CSS -->
    <link href="../../Content/agency.css" rel="stylesheet" />
    <link href="../../Content/osudhwala.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.vertical-tabs.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img class="header-logo" src="../../Image/assets/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Medicine", "", "")
                    </li>
                    <li>
                        @Html.ActionLink("Request", "", "")
                    </li>
                    <li>
                        <a href="" data-toggle="modal" data-target="#myLogin">Login</a>
                    </li>
                    <li>
                        <a href="" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart fa-lg"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="container">
            <div class="intro-text">
                @using (Html.BeginForm("SearchByText", "Home", FormMethod.Post, new { @id = "formSubmit" }))
                {
                    <h1>Search By Medicine Name</h1>
                    <input class="input-lg" style="color:black" type="text" name="searchItem" id="searchItem" />
                    <input class="btn btn-primary btn-lg" id="searchSubmit" value="Search" type="submit" />
                }

            </div>
        </div>
    </header>
    <!-- Services Section -->
    <section style="padding:0px">
        <div class="container">
            <div class="row text-center">
                <h1>Find By Category</h1>
                <hr>
                <div class="col-xs-3">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#baby" data-toggle="tab">Baby and Mother</a></li>
                        <li><a href="#care" data-toggle="tab">Personal Care</a></li>
                        <li><a href="#others" data-toggle="tab">Others</a></li>
                    </ul>
                </div>
                <div class="col-xs-9">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="baby">
                            <div class="col-md-11 pushCenter" style="background:#1abc9c;color:white;padding:2px;margin:2px">
                                <h6>By Category</h6>
                                <ul class="list-group">
                                    <li class="list-group-item col-xs-6">Baby Diapers</li>
                                    <li class="list-group-item col-xs-6">Feeding & Nursing</li>
                                    <li class="list-group-item col-xs-6">Gifts & Accessories</li>
                                    <li class="list-group-item col-xs-6">Health & Safety</li>
                                    <li class="list-group-item col-xs-6">Nutrition</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="care">
                            <div class="col-md-11 pushCenter" style="background:#1abc9c;color:white;padding:2px;margin:2px">
                                <h6>By Category</h6>
                                <ul class="list-group">
                                    <li class="list-group-item col-xs-6">Skin Care</li>
                                    <li class="list-group-item col-xs-6">Bath & Body</li>
                                    <li class="list-group-item col-xs-6">Adult Care</li>
                                    <li class="list-group-item col-xs-6">Feminine Care</li>
                                    <li class="list-group-item col-xs-6">Fragrance</li>
                                    <li class="list-group-item col-xs-6">Hair Care </li>
                                    <li class="list-group-item col-xs-6">Hand & Foot Care</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="others">
                            <div class="col-md-11 pushCenter" style="background:#1abc9c;color:white;padding:2px;margin:2px">
                                <h6>By Category</h6>
                                <ul class="list-group">
                                    <li class="list-group-item col-xs-6">Eye Care</li>
                                    <li class="list-group-item col-xs-6">First Aid</li>
                                    <li class="list-group-item col-xs-6">Sexual Wellness</li>
                                    <li class="list-group-item col-xs-6">Diabetes</li>
                                    <li class="list-group-item col-xs-6">Protein Diet and Vitamin</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; OshudhWala 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href=""><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <div id="myLogin" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                @using (Html.BeginForm("Login", "RegistrationLogin",FormMethod.Post, new { @id="loginForm" }))
                {
                    <div class="modal-header">

                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <label>Email</label>
                        <input id="Email" name="Email" class="form-control margin-none" type="text" />
                        <label>Password</label>
                        <input class="form-control margin-none" id="Password" name="Password" type="password" />
                        <button type="submit" class="btn btn-default" id="login">Login</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                        
                    </div>
                }                
            </div>
        </div>

    </div>
    <!-- jQuery -->
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../Scripts/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="../../Scripts/jqBootstrapValidation.js"></script>
    <script src="../../Scripts/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="../../Scripts/agency.min.js"></script>

</body>
</html>